# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
backup/


# Distribution / packaging
.Python
*.egg-info/
nosetests.xml
coverage.xml


# Django stuff:
*.log
log_files/*.log
local_settings.py
db.sqlite3


# Jupyter Notebook
.ipynb_checkpoints


# IPython
profile_default/
ipython_config.py


# pyenv
.python-version


# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


#PyCharm stuff
.idea/

# Vagrant stuff
.vagrant/
